*{
		margin: 0;
		padding: 0;
		
			
	}
	html{
		scroll-behavior:smooth;
	}

	body{
		
		background: #2c292f;
		font-family: sans-serif;
	}

	.navbar{
		background:#2c292f;
		text-align: center;


	}

	.navbar ul{
		display: inline-flex;
		list-style: none;
		color: #fff;

	}

	.navbar ul li{
		width: 120px;
		margin: 15px;
		padding: 15px;
	}

	.navbar ul li a{
		text-decoration: none;
		color: #fff;
	}

	.navbar ul li:hover{
		background: #e0ac1c;
		transition: 0.4s ease-in-out;
	}

	 .active.navbar ul li :hover{
		background: #e0ac1c;
		border-radius: 3px;
		visibility: visible;
		z-index: 100;

	}

	.navbar .fa{
		margin-right: 8px;
	}

	.sub-menu-1{
		display: none;
		background: #e0ac1c;
	}


	.navbar ul li:hover .sub-menu-1{
		display: block;
		position: absolute;
		background:#e0ac1c
		margin-top: 15px;
		margin-left: -15px;
		z-index: 1;

		
	}

	.navbar ul li:hover .sub-menu-1 ul{
		display: block;
		margin: 10px;

	}

	.navbar ul li:hover .sub-menu-1 ul li{
      width: 150px;
      padding: 10px;
      border-bottom:1px dotted #fff;
      background: transparent;
      border-radius: 0;
      text-align: left;
	}
	.navbar ul li:hover .sub-menu-1 ul li:last-child{
		border-bottom: none;
	}

	.navbar ul li:hover .sub-menu-1 ul li a:hover{
		color: #b2ff00;
	}

	.fa-angle-right{
		float: right;
	}

	.sub-menu-2{
		display: none;
		background: #e0ac1c;
	}

	.hover-me:hover .sub-menu-2{
		position: absolute;
		display: block;
		margin-top: -40px;
		margin-left: 140px;
		
	}


	   footer{
	
	bottom: 0;
	box-sizing: border-box;
}

 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
	z-index: 0;
	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 

 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 

 
 
@media (max-width:880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

