*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}



.header{
    text-align: center;
    font-weight: 800;
    color:#e0ac1c ;
}

.outer{
    width:100%;
    height:100vh;
    margin:auto;
    position:relative;
    background-color: #03849d05;
}
.center-wrapper{
    position: relative;
    width:75%;
    height:auto;
    min-height:550px;
    background:#fff;
    top:50%;
    left:50%;
   
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    box-shadow:0px 2px 10px rgba(0,0,0,.12);
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    width:90%;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.shoe-slider{
    background-color: #03849d05;
    height:100%;
}
.shoe-content{
    background-color: #fff;
    position:relative;
}
.text1{
    width:100%;
    height:auto;
    border-left:1px solid #333;
    padding-left:10px;
}
.text1 span{
    display:block;
}
.text1 span:nth-child(1){
    color:#03849d;
    font-size:13px;
}
.text2{
    font-size:30px;
    color:#444;
    padding-top:10px;
    padding-bottom:5px;
}
.text3{
    font-size:16px;
    color:#444;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: 500;
    letter-spacing: 2px;
}
.text4{
    font-size:12px;
    color:#6b6b6b;
    padding-top:10px;
    padding-bottom:10px;
}
.text5{
    font-size:12px;
    color:#6b6b6b;
    padding-top:10px;
    padding-bottom:10px;
    line-height:23px;
}
.btn-wrapper{
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.btn-wrapper .btn{
    box-shadow: 2px 5px 20px rgba(32,57,90,0.479);
    background-color: #03849d;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    color:#fbfbfb;
    font-size:14px;
    padding:8px 48px;
}

.btn-wrapper .btn:hover{
    transform:scale(1.12);
    transition: 0.6s ease-in-out;
}
.qantity .fas{
    color:#dbdbdb;
    font-size:9px;
}
.one{
    padding-left:14px;
    padding-right:14px;
}
.social-icons{
    position: absolute;
    top:50%;
    right:-70px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}
.social-icons i{
    display:block;
    cursor: pointer;
}
.social-icons .fa-twitter{
    background:#4099ff;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    color:#fff;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    font-size:12px;
    box-shadow: 2px 5px 20px rgba(32,57,90,0.479);
}
.social-icons .fa-pinterest-p{
    background:#c92228;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    color:#fff;
    margin-top:15px;
    margin-bottom:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    font-size:12px;
    box-shadow: 2px 5px 20px rgba(32,57,90,0.479);
}
.social-icons .fa-facebook-f{
    background:#3b5998;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    color:#fff; 
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    font-size:12px;
    box-shadow: 2px 5px 20px rgba(32,57,90,0.479);
}
.carousel .carousel-indicators{
    bottom:-40px;
}
.carousel .carousel-indicators li{
    width:60px;
    height:60px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border:none;
    display:flex;
    justify-content: center;
    align-items:center;
}
.carousel .carousel-indicators li img{
    max-width: 80%;
    height:auto;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.carousel .carousel-indicators li.active{
    background-color: #fff;
    box-shadow: 2px 5px 20px rgba(32,57,90,0.379);
}
.carousel .carousel-indicators li:nth-child(2){
    margin-left:50px;
    margin-right:50px;
}
.carousel-control-next,
.carousel-control-prev{
    position:absolute;
    width:50px;
    height:50px;
    top:92%;
    z-index:99999;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-image:none;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.carousel-control-prev-icon{
    border-left:2px solid black;
    border-bottom:2px solid black;
}
.carousel-control-next-icon{
    border-top:2px solid black;
    border-right:2px solid black;
}
.carousel-control-prev{
    left:33%;
}
.carousel-control-next{
    right:33%;
}
span.qantity{
    text-align:center;
}
.quantity-text{
    color:#dbdbdb;
    font-size:9px;
    margin-top:4px;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .center-wrapper{
        height:auto;
    }
    .social-icons{
        right:-55px;
    }
}
@media only screen and (max-width:768px){
    .outer{
        height:auto;
    }
    .shoe-content{
        margin-top:55px;
    }
    .center-wrapper{
        height:auto;
        margin:20px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        width:90%;
        padding-bottom:20px;
        top:unset;
        left:unset;
        transform:unset;
        -webkit-transform:unset;
        -moz-transform:unset;
        -ms-transform:unset;
        -o-transform:unset;
        box-shadow:0px 2px 10px rgba(0,0,0,.10);
    }
    .content{
        width:100%;
    }
    .social-icons{
        top:14%;
        right:-12px;
    }
    .carousel .carousel-indicators li{
        width:120px;
        height:35px;
    }
    .carousel-control-next,
    .carousel-control-prev{
        top:82%;
    }
    .carousel-control-prev{
        left:27%;
    }
    .carousel-control-next{
        right:27%;
    }
    .carousel .carousel-indicators{
        bottom:-4px;
    }
    .text2{
        font-size:22px;
    }
    .text3{
        font-size:14px;
    }
}