
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
/*<!----------------------NAVBAR CSS SECTION------------------------------------ -->*/

*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
			
	}
	html{
		scroll-behavior:smooth;
	}

	body{
		
		background: #2c292f;
		font-family: sans-serif;
	}

	
	.navbar{
		background:#2c292f;
		text-align: center;



	}

	.navbar ul{
		display: inline-flex;
		list-style: none;
		color: #fff;
       

	}

	.navbar ul li{
		width: 120px;
		margin: 15px;
		padding: 15px;
	}

	.navbar ul li a{
		text-decoration: none;
		color: #fff;
	}

	.navbar ul li:hover{
		background: #e0ac1c;
		transition: 0.4s ease-in-out;
	}

	 .active.navbar ul li :hover{
		background: #e0ac1c;
		border-radius: 3px;
		visibility: visible;
		z-index: 100;

	}

	.navbar .fa{
		margin-right: 8px;
	}

	.sub-menu-1{
		display: none;
		background: #e0ac1c;
	}


	.navbar ul li:hover .sub-menu-1{
		display: block;
		position: absolute;
		background:#e0ac1c
		margin-top: 15px;
		margin-left: -15px;
		z-index: 1;

		
	}

	.navbar ul li:hover .sub-menu-1 ul{
		display: block;
		margin: 10px;

	}

	.navbar ul li:hover .sub-menu-1 ul li{
      width: 150px;
      padding: 10px;
      border-bottom:1px dotted #fff;
      background: transparent;
      border-radius: 0;
      text-align: left;
	}
	.navbar ul li:hover .sub-menu-1 ul li:last-child{
		border-bottom: none;
	}

	.navbar ul li:hover .sub-menu-1 ul li a:hover{
		color: #b2ff00;
	}

	.fa-angle-right{
		float: right;
	}

	.sub-menu-2{
		display: none;
		background: #e0ac1c;
	}

	.hover-me:hover .sub-menu-2{
		position: absolute;
		display: block;
		margin-top: -40px;
		margin-left: 140px;
		
	}


/*------------------------SEARCH BAR CSS SECTION-----------------------------*/
.container1 {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
   
}
    .search:hover {
      cursor: pointer;
    }
    .search::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    .search::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
   /* // border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    background: crimson;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 crimson,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /*  // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);*/
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
    input:hover {
      cursor: pointer;
    }

    input:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    input:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
  }
      input:before {
        top: 0;
        left: 0;
        width: 25px;
      }

      input::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    
    input::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }

/*---------------------------------IMAGE GRID CSS SECTION-----------------*/
.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
	
	
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
	
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-grid li {
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(a.jpg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(b.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(c.jpg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(d.jpg);
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}



/*--------------------------------FOOTER CSS SECTION-------------------------- */
   
	   footer{
	
	bottom: 0;
	box-sizing: border-box;
}

 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
	z-index: 0;
	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 

 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 

 
 
@media (max-width:880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}