body, html {
  height: 100%;
  font-size: 15px;
	line-height: 1.50;
	color: #333333;
}
.navbar {
  border-radius:0px;
  margin-bottom: 0px;
}
.navbar-brand , ul.nav{
  font-family: Ubuntu;
}
.navbar-brand, .navbar-default .navbar-nav > li > a {
	font-size: 18px;
	font-weight: 300;
}
.banner {
  text-align: center;
  background-color: #164f5a;
  color: #ffffff;
  padding: 80px;
}
#banner-name {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
h1 {
  font-size: 40px;
}
h1, h2, h3, h4 {
  font-family: 'Open Sans', Tahoma;
}
.title {
  color: #164f5a;
}
p.lead {
  font-family: 'Roboto Condensed', sans-serif;
}
.scroll-panel {
	padding-top: 50px;
}
#about_col {
  padding: 60px 0 60px 0;
}
#about_col>p {
  color: #164f5a;
  padding-top: 7px;
}
#about_img {
  height: 70%;
  width: 70%;
}
#about_img:hover {
  -webkitanimation: pulse 2s linear
}
#links {
  text-decoration: none;
}
.point {
  font-family: 'Open Sans Condensed', sans-serif;
}
.social {
  text-align: center;
  background-color: #164f5a;
  color: #ffffff;
  padding: 40px;
}
large-div {
  padding-top: 40px;
  padding-bottom: 40px;
}
.space {
    padding: 20px;
}
/* Social Links
---------------------------------- */
.social-links {
	padding: 0;
	list-style: none;
	margin: 15px 0;
}
.social-links li {
	margin: 10px 25px 10px 0;
	display: inline-block;
	font-size: 36px;
}
.social-links li a {
	color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.social-links li.twitter a:hover {
	color: #55acee;
}
.social-links li.skype a:hover {
	color: #00aff0;
}
.social-links li.linkedin a:hover {
	color: #0976b4;
}
.social-links li.googleplus a:hover {
	color: #dd4b39;
}
.social-links li.youtube a:hover {
	color: #b31217;
}
.social-links li.flickr a:hover {
	color: #ff0084;
}
.social-links li.facebook a:hover {
	color: #3b5998;
}
.social-links li.pinterest a:hover {
	color: #cb2027;
}
  /*Form css*/
.form-control {
	height: 45px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.form-control-feedback {
	color: #29536C;
}
.has-feedback label.sr-only ~ .form-control-feedback {
	top: 15px;
}
textarea {
	resize: vertical;
}
/*Button css*/
.btn {
	padding: 8px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	min-width: 160px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn-default {
	color: #29536C;
	border: 1px solid #cccccc;
}
.btn-default:hover {
	color: #ffffff;
	background-color: #29536C;
	border-color: #29536C;
}

img{
	border-radius:50%;
	width: 550px;
}