

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
  }
  html{
    scroll-behavior:smooth;
  }


.heading{
 text-align: center;
    font-weight: 800;
    color:#e0ac1c ;
    text-transform: uppercase;
}

.buttons{
    font-size: 22px;
    margin-top: 2%;
    margin-left: 4.2%;
    color: #e0ac1c;
}

.fa:hover{
    color: darkcyan;
}

.container{
  display: flex;
  flex-flow: column nowrap;
}
/*CSS Grid*/
.section-grid{
   display: flex; 
   padding-left: 25px;
   padding-right: 25px;
}
.grid-prod{
  flex: 1 1 auto;
  display: flex; 
  flex-flow: row wrap;  
}
.prod-grid{
  flex: 1 1 25%;
  margin:2%;
  padding:12px;
  background: linear-gradient(to bottom right,#e0ac1c,#fff);
  border-radius: 22px;
  box-shadow:10px 10px 3px #000; 
}

.prod-grid:hover{
  transform: scale(1.12);
  transition: 0.6s ease-in-out;
}

.prod-grid img{
  width:100%;

}
h3, p{
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
}


button{
  float: right;
  background: #e0ac1c
}

/*CSS List*/
.section-list{
   display: flex; 
   padding: 2% 4%; 
}
table {
  width: 100%;
  margin: 10px 10px;
  border:2px solid #000;
  border-collapse: collapse;
  border-spacing: 0;
  background: linear-gradient(to bottom right,#e0ac1c,#fff);
}
table tr td {
  padding: 10px;
  border-top: 2px solid #000;
}
tr td img{
  width:100%;
}
.btn-list{
    background: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 6px;
    color: white;
    font-size: 22px;
    width: 200px;
    height: 40px;
    position: right;
    margin: 10px; 
    margin-top: 10%;
    letter-spacing: 1px;
    display: inline-block;
    
}
.btn-list:hover{
  transform: scale(1.12);
  transition: 0.6s ease-in-out;
}
button{
  float: right;
}

@media (min-width : 320px) and (max-width : 480px) { 
  .section-list, .buttons{
    display: none;
  }
}


